* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text: #fff;
}

::-webkit-scrollbar {
  display: none;
}

/* content below is for the first section in the website*/

.Landing-Page {
  background: url(https://raw.githubusercontent.com/Arman-Markaryan/Portfolio-Img-Hosting/main/icons/Landing-Page%20Background%20Img.png);
  background-size: cover;
  min-height: 100vh;
  padding: 10em 2em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  flex-wrap: wrap;
}

.svg-logo-a {
  z-index: 3;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  transition: background-color 0.4s ease-in-out;
  top: 0;
  padding: 1.5em 3em 1em 1.5em;
  z-index: 1000;
}

header.scrolled nav a {
  color: rgb(255, 255, 255);
  opacity: 1;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.253);
}

header nav a {
  transition: color 0.4s ease-in-out;
}

nav {
  max-width: 100%;
  position: fixed;
  top: 0;
  right: -800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.1s ease;
  z-index: 2;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 35px;
}

nav ul li {
  width: fit-content;
}

nav ul li a {
  color: #e8e8e8;
  font-size: clamp(3rem, 8vw, 8rem);
  font-family: IBM Plex Mono, monospace;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  cursor: pointer;
  font-weight: bold;
}

li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #fff;
  margin: auto;
  display: block;
}

li a:hover::after {
  width: 100%;
  transition: width 0.3s linear;
}

.hamburger {
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  position: relative;
  z-index: 3;
  color: black !important;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
  border-radius: 1em;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.ul-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-text);
  justify-content: space-between;
}

.ham-menu.active {
  right: 0;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(rgb(55 55 55) 9%, #181818 13.5%);
  background-position: 0% 0%;
  background-size: 12vmin 12.5vmin;
  position: absolute;
  top: 0;
}

.button-like {
  padding: 0.5em 1em;
  text-decoration: none;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  outline: 2px solid #fff;
}

.button-like:hover {
  box-shadow: 0px 0px 20px 0px rgb(255 255 255 / 50%);
  transition: 0.4s;
}

.top-bottom-border::after,
.top-bottom-border::before {
  content: "";
  display: block;
  width: 125%;
  height: 2px;
  background-color: white;
  margin-block: 0.5em;
}

.HT {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.8rem, 0.5rem + 0.5vw, 1.25rem);
  width: fit-content;
}

.MN,
.FED {
  font-size: clamp(4em, 35px, 45px);
  font-family: monospace;
}

.SD {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  font-family: monospace;
}

.grid-row--3 {
  display: grid;
  gap: 1rem;
}

.CenteredHeaders {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  padding-bottom: 8rem;
  color: #000;
}

/* content below is for the section that's about me */

.AboutMeBG {
  background-color: #e1e1e1;
  padding: 2em;
}

.AboutTextDesign {
  color: rgb(142 55 124);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.PersonalInfoTextDesign {
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.KnowMe {
  font-weight: bold;
}

.AboutMeColumnStyling {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ButtonStyling {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.TextStylingAboutMe {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.DescAboutMeText,
.OutSideOfCode {
  color: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.DescAboutMeText {
  max-width: 53ch;
}

.OutSideOfCode {
  max-width: 55ch;
}

.HTMLDesign,
.CSSDesign,
.JSDesign {
  padding: 7px 15px;
  text-decoration: none;
  background-color: rgba(150, 150, 150, 0.329);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  letter-spacing: 5px;
  border: 2px solid transparent;
  border-radius: 0.2rem;
  text-transform: uppercase;
}

.JSDesign {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.grid-column-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5.5rem;
  padding-bottom: 2rem;
}

/* Sections for styling for project portion of my website*/

.portfolio-projects {
  padding: 2em;
  background-color: #cbcbcb;
}

.personal-info-text-design {
  color: rgb(142 55 124);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin-top: 50px;
  max-width: 80rem;
  margin-inline: auto;
}


.work {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.work img {
  border-radius: 10px;
  overflow: hidden;
  display: block;
  width: 100%;
  min-height: 100%;
}

.layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #0f0f11);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  gap: 1em;
}

.Button-Redirect {
  padding: 0.5em 3em;
  text-decoration: none;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  outline: 2px solid #fff;
}

.project-styling {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


/* Section houses content for footer*/

footer {
  padding: 2em;
  background: url(https://raw.githubusercontent.com/Arman-Markaryan/Portfolio-Img-Hosting/main/icons/Landing-Page%20Background%20Img.png);
}

.Contact-Styling {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.Say-Hello {
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fff;
}

.Form-Desc {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-group:last-of-type {
  grid-column: span 2;
}

.TextColorMain {
  color: #fff;
}

input {
  width: 50%;
  padding-left: 10px;
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid #fff;
  line-height: 2rem;
  font-size: 0.9rem;
  color: #fff;
}

.wrapper {
  width: min(50em, 100%);
  margin-inline: auto;
  color: #fff;
}

.wrapper .CenteredHeaders {
  text-align: center;
  padding-block: 3em;
}

.wrapper .CenteredHeaders h1 {
  font-size: clamp(2rem, 1.619rem + 1.5238vw, 3rem);
  margin-bottom: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper .CenteredHeaders p {
  font-size: clamp(1rem, 1.619rem + 1.5238vw, 1rem);
  margin-bottom: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper form {
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  box-shadow: 0px 0px 20px 4px rgb(59 0 54 / 41%);
  margin-bottom: 4rem;
}

.wrapper form .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrapper form .form-group:nth-last-child(1 of .form-group) {
  grid-column: span 2;
}

#msg {
  margin-top: 2rem;
  margin-bottom: 2rem;
  resize: none;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  outline: 2px solid #fff;
  color: #fff;
}

.wrapper form button {
  outline: 2px solid #fff;
  background-color: transparent;
  padding-block: 0.6em;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  width: 8rem;
  place-self: center;
  grid-column: span 2;
}

/* Content below is for mobile sizing*/

@media screen and (min-width: 320px) and (max-width: 425px) {
  .MN,
  .FED {
    font-size: 45px;
    font-family: monospace;
  }
}

@media only screen and (max-width: 768px) {
  header {
    padding: 1em 2em;
    display: flex;
    align-items: center;
  }

  .ul-1 {
    display: none;
  }

  .logo {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
