* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text: #fff;
  --hover-color: rgb(214, 44, 44);
}

::-webkit-scrollbar {
  display: none;
}

section {
  height: 102vh;
}

.Main-Page {
  background: linear-gradient(to left, #000000e8, #424242);
}

.Logo {
  font-family: monospace;
  font-size: 3rem;
  color: var(--main-text);
}

header {
  padding: 25px 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-text);
}

.HomeStyle {
  color: var(--hover-color);
}

.About-Me {
  background-color: beige;
}

.Projects {
  background-color: red;
}

.Contact-Me {
  background-color: green;
}
